@font-face {
    font-family: "Arsenica Trial Bold";
    font-display: swap;
    src: url("../../public/fonts/Arsenica Trial/ArsenicaTrial-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Arsenica Trial Regular";
    font-display: swap;
    src: url("../../public/fonts/Arsenica Trial/ArsenicaTrial-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Century Gothic";
    font-display: swap;
    src: url("../../public/fonts/Century Gothic/centurygothic.ttf") format("truetype");
}

@font-face {
    font-family: "Felidae";
    font-display: swap;
    src: url("../../public/fonts/Felidae/Felidae.ttf") format("truetype");
}

* {
    outline: none;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    // font-family: var(--fontInterRegular);
    font-size: 16px;
    color: #51483F;

    select {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

body {
    background-image: linear-gradient(to top, #fff, #F6F6F2);
    min-height: 5000px;
    position: relative;

    &::before {
        content: '';
        width: 1500px;
        height: 2593px;
        background-image: url('../../public/images/home/bg.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        position: absolute;
        top: -50px;
        left: calc(50% - 200px);
        transform: translateX(-50%);
        z-index: -1;
    }
}

header {
    padding: 15px 40px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    a.brand {
        display: flex;
        align-items: center;
        gap: 1px;
        width: fit-content;

        img {
            display: block;
        }

        div {
            font-family: "Century Gothic", sans-serif;
            font-size: 13px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-transform: uppercase;
            padding-top: 20px;
            letter-spacing: 1.5px;

            span {
                font-family: "Arsenica Trial Regular", sans-serif;
                text-transform: inherit;
                font-size: 21px;
                line-height: 1;
                display: block;
                letter-spacing: 0.4px;
            }
        }
    }
}

section#home-hero {
    padding-top: 180px;

    h1 {
        text-align: center;
        font-size: 180px;
        line-height: 0.71;
        letter-spacing: 3.5px;
        position: relative;
        z-index: 2;
        >span {
            font-family: "Felidae", sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            font-size: inherit;
            line-height: inherit;
        }

        strong {
            display: block;
            letter-spacing: -5.5px;

            >span {
                font-family: "Arsenica Trial Bold", sans-serif;
                font-size: 155px;
                font-weight: 700;
                text-transform: uppercase;
                text-transform: uppercase;
            }
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 575px; // колкото е средното (3) изображение
        width: 1200px;
        margin: 0 auto;
        margin-top: -140px;

        li {
            position: absolute;

            &:nth-child(1) {
                left: -5px;
                top: calc(50% + 62px);
                transform: translateY(-50%);
                z-index: 3;
            }

            &:nth-child(2) {
                left: 181px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
            }

            &:nth-child(3) {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }

            &:nth-child(4) {
                z-index: 2;
                right: 181px;
                top: calc(50% + 100px);
                transform: translateY(-50%);
            }

            &:nth-child(5) {
                right: 22px;
                top: calc(50% + 59px);
                transform: translateY(-50%);
                z-index: 3;
            }
        }
    }
}